.mainContainer {
    display: grid;
    grid-template-columns: 1fr 5fr; 
    background-color: white;
}

.contentContainer{
    display: flex;
    flex-direction: column;
    margin: 30px;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.rowContainer {
    margin: 15px;
}

.input {
    width: 300px;
}

.saveButton{
    width: fit-content;
    background-color: var(--accentColor);
    padding: 5px;
    color: white;
    margin: 10px;
}

.editButton {
    width: fit-content;
    background-color: var(--accentColor);
    padding: 5px;
    color: white;
    margin: 10px;
}