/* MAIN CONTAINER */
.mainContainer {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    /* width: 100%; */
    height: 100px;
    margin-top: 20px;
    margin-bottom: 200px;
    padding: 10px;
    align-items: center;
    background-color: red;
}


/* LOGO */
.logo {
    max-height: 60px;
    margin-right: 10px;
    padding: 10px;
}


/* RIGHT */
.rightContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 35px;
    width: 70%;
    margin: 30px;
    margin-bottom: 30px;
    padding: 10px;
    align-items: center;
    border-radius: 20px;    
    background-color: var(--mywhite);
    border: 5px solid var(--mylightblue2);
}


/* LINKS */
.normalLink {
    text-decoration: none;
    color: black;
    font-size: 18px;
}

.normalLink:hover {
    text-decoration: none;
    color: var(--mylightblue2);
    font-size: 21px;
}

.activeLink {
    text-decoration: none;
    color: rgb(95, 209, 219);
    color: var(--mylightblue2);
    font-weight: bold;
    font-size: 23px;
}




/* MEDIA QUERIES */
@media screen and (max-width: 768px) {
    .logo {
        display: none;
    }

    .mainContainer {
        margin: 5px;
        margin-bottom: 30px;
    }
}