.mainContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  max-width: 1200px;
}

.categoriesAndFiltersAndOrder {
  display: flex;
  align-items: center;
}

.filters {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 30px;
}

.notFoundMessage {
  color: var(--alertColor);
  margin-top: 20px;
  font-weight: bold;
}

@media screen and (max-width: 780px){
  .categoriesAndFiltersAndOrder {
    flex-direction: column;
  }
  .filters {
    flex-direction: row;
  }
}