/* CSS Variables */
:root {
  --myBlack: black;
  --myWhite: white;
}

body {
  background-color: var(--myBlack);
  color: var(--myWhite);
  /* background-color: green;
  color: red; */
  color: red;
}