.footer {
  width: 100%;
  height: 80px;
  margin-top: 40px;
  background-color: white;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.text {
  color: black;
}

/* Estilos para dispositivos de pantalla pequeña */
@media screen and (max-width: 768px) {
  /* Agrega estilos específicos para dispositivos móviles o pantallas pequeñas */
  .mainContainer {
    flex-direction: column;
  }
  .greetingContainer {
    flex-direction: column;
    align-items: center;
    margin-right: 0;
  }
  .greetingContainer h1 {
    font-size: 24px;
  }
  .viewAllButton {
    font-size: 18px;
  }
  .sectionContainer {
    margin: 20px 0;
  }
  .sectionTitle {
    font-size: 18px;
  }
  .text {
    font-size: 15px;
  }
}
 /* Estilos para dispositivos de pantalla mediana */
@media screen and (min-width: 769px) and (max-width: 1024px) {
  /* Agrega estilos específicos para tabletas u otros dispositivos de pantalla mediana */
  .greetingContainer {
    margin-right: 20%;
  }
}
 /* Estilos para dispositivos de pantalla grande */
@media screen and (min-width: 1025px) {
  /* Agrega estilos específicos para pantallas grandes o de escritorio */
  .greetingContainer {
    margin-right: 40%;
  }
}