.mainContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.filtros {
  width: 450px;
  height: 100px;
  border-radius: 60%;
}

.filtros2 {
  display: flex;
  justify-content: space-between;
  height: 50px;
}

.asereje {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.notFoundMessage {
  color: var(--alertColor);
}
