.tds {
  padding: 12px 15px 0px 15px;
}

.tbodys tr {
  border-bottom: 1px solid #dddddd; 
  } 
  .tbodys tr:nth-of-type(even) { 
      background-color: #f3f3f3; 
  }
  .tbodys tr:last-of-type {
      border-bottom: 2px solid #009879;
}