.likeButton {
  position: absolute;
  top: 0;
  right: 0;
  width: fit-content;
  height: fit-content;
  background-color: var(--accentColor);
  color: white;
  border-radius: 100%;
}

.isFavoriteButton {
  background-color: var(--accentColor2);
}

.likeButton:hover {
  background-color: var(--accentColor2);
  transition: 0.5s;
}