.footer_logo {
    margin: 0 0 0 0;
    width: 20%;
    text-align: left;
    position: absolute;
}
.horizontal_logo {
    width: 150px;
    margin: 0;
}
.footer {
    padding: 2% 10% 6% 10%;
    margin: 0 auto;
    background-color: white;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}
.footer_text {
    margin: 0 0 0 65%;
    width: 200px;
    text-align: left;
    position: absolute
}