/*
.cardsContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 35px;
  justify-content: center;
  align-items: center;
  padding: 10px 60px;
}
*/
.cardsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

css
footer {
  text-align: center;
  padding: 20px;
}
 @media screen and (max-width: 768px) {
  footer {
    font-size: 16px;
  }
}
 @media screen and (min-width: 769px) and (max-width: 1024px) {
  footer {
    font-size: 18px;
  }
}
 @media screen and (min-width: 1025px) {
  footer {
    font-size: 20px;
  }
}
