/* Estilos para el footer */
.footer {
  width: 100%;
  height: 100px;
  margin-top: 40px;
  background-color: white;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
}
.text {
  color: black;
}
