/* MAIN CONTAINER */
.mainContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 100px;
  align-items: center;
  background-color: var(--myWhite);
  color: black;
  box-shadow: 0px 10px 10px 0px var(--accentColor);
  
}


/* LOGO */
.logo {
  height: 100px;
  margin-left: 40px;
}

/* RIGHT */
.rightContainer {
  display: flex;
  height: 60px;
  margin-right: 30px;
  padding: 10px;
  align-items: center;
  background-color: var(--mywhite);
}

.normalLink, .user {
  text-decoration: none;
  font-size: 18px;
  color: black;
  
}

.normalLink:hover {
  color: var(--accentColor);
}

.activeLink {
  text-decoration: none;
  font-size: 18px;
  margin: 60px;
  border-top: 4px solid var(--accentColor);
  color: var(--accentColor);
}



.userContainer {
  display: flex;
  flex-direction: column;
  position:relative;
}

.options { 
  position: absolute;
  top: 100%;
  left: 0;
  display: flex;
  flex-direction: column;
  background-color: white;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 10px;
  z-index: 200;
}

.option {
  color: black;
  text-decoration: none;
  padding: 5px 0;
  margin-left: 5px;
}

.option:hover {
  color: var(--accentColor);
}

.navul{
    display: flex;
    list-style: none;
    margin-top: 19px;
    justify-content: space-around;
}
.navli{
  margin: 0px 40px 0px 40px;
    line-height: 60px;
    width: max-content;
}
.menumobil{
  margin: 0 10px;
  cursor: pointer;
  display: none;
}

.userul{
  display: flex;
  position: absolute;
}

.userli{
  float: left;
  position: fixed;
}


@media screen and (max-width: 780px){
  .navul{
    display: none;
  }

  .activeLink {
    margin: 0px;
    border-top: 4px solid var(--accentColor);
  color: var(--accentColor);
  }
  .normalLink, .user {
    color: black;
  }

  .navmenumobil{
    position: absolute;
    display: block;
    list-style: none;
    background-color: var(--accentColor2);
    left: 0;
    top: 110px;
    transition: all 0.5s ease-out;
    width: 100%; 
    padding-left: 0px;
    z-index: 200;
    height: 470px;
  }

  .navli{
    text-align: center;
    padding: 0px;
    width: 100%;
    transition: all 0.5s ease;
    font-size: 18px;
    margin-left: 0px;
    margin-right: 0px;
}

  .menumobil{
    display: block;
    position: inherit;
    outline: none;
    background-color: transparent;
    border: none;
    height: 65px;
    color: var(--accentColor2);
    font-size: 33px;
  }
  .option {
    margin-left: 335px;
  }

  .options { 
    background-color: rgba(0, 128, 0, 0);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0);
  }
}
