.foodList {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.numbersInactive{
    background-color: white;
    font-size: 15px;
    margin-right: 5px;
    border-radius: 100%;
    width: 40px;
    height: 40px;
}

.numbersInactive:hover{
    border: solid 3px var(--accentColor);
}

.numbersActive{
    background-color: var(--accentColor);
    font-size: 15px;
    margin-right: 5px;
    border-radius: 100%;
    color: white;
    width: 40px;
    height: 40px;
    border: solid 3px white;
}

.previousAndNext {
    background-color: white;
    font-size: 15px;
    margin: 10px;
    border-radius: 100%;
    width: 25px;
    height: 25px;
}

.previousAndNext:hover {
    border: solid 2px var(--accentColor);
}