.foodList {
    list-style-type: none;
    display: flex;
    flex-direction: row;
}
.numbers{
    background-color: black;
    color: white;
    font-size: 15px;
    margin-right: 5px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

.numbers:active{
    background-color: lightgray;
}