.mainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.greetingContainer {
  display: flex;
  width: 100%;
  justify-content: right;
  margin-right: 40%;
  margin-top: 30px;
}

.greetingContainer h1 {
  width: fit-content;
  background-color: var(--accentColor);
  padding: 5px;
  border-radius: 5px;
  font-size: 30px;
  font-style: italic;
  color: white;
  /* text-decoration: underline */;
}

.viewAllButton {
  background-color: var(--accentColor);
  border-radius: 15px;
  padding: 10px;
  border: solid 4px white;
  color: white;
  font-size: 22px;
  text-decoration: none;
  transition: transform 0.3s, box-shadow 0.3s;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.2);
}

.viewAllButton:hover {
  background-color: var(--accentColor2);
  transform: scale(1.1);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  transition: 0.5s;
}

.sectionContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px 0px;
}


.sectionTitle {
  width: fit-content;
  background-color: var(--accentColor);
  padding: 5px;
  border-radius: 5px;
  font-size: 22px;
  font-style: italic;
  color: white;
}


/* Estilos para dispositivos de pantalla pequeña */
@media screen and (max-width: 768px) {
  /* Agrega estilos específicos para dispositivos móviles o pantallas pequeñas */
  .mainContainer {
    flex-direction: column;
  }
   .greetingContainer {
    flex-direction: column;
    align-items: center;
    margin-right: 0;
  }
   .greetingContainer h1 {
    font-size: 20px;
  }
   .viewAllButton {
    font-size: 18px;
  }
   .sectionContainer {
    margin: 20px 0;
  }
   .sectionTitle {
    font-size: 18px;
  }
}
 /* Estilos para dispositivos de pantalla mediana */
@media screen and (min-width: 769px) and (max-width: 1024px) {
  /* Agrega estilos específicos para tabletas u otros dispositivos de pantalla mediana */
  .greetingContainer {
    margin-right: 20%;
  }
}
 /* Estilos para dispositivos de pantalla grande */
@media screen and (min-width: 1025px) {
  /* Agrega estilos específicos para pantallas grandes o de escritorio */
  .greetingContainer {
    margin-right: 40%;
  }
}