.mainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.greetingContainer {
  display: flex;
  width: 100%;
  justify-content: right;
  margin-right: 40%;
  margin-top: 30px;
}

.greetingContainer h1 {
  width: fit-content;
  background-color: var(--accentColor);
  padding: 5px;
  border-radius: 5px;
  font-size: 30px;
  font-style: italic;
  color: white;
  /* text-decoration: underline */;
}

.viewAllButton {
  background-color: var(--accentColor);
  border-radius: 15px;
  padding: 10px;
  border: solid 4px white;
  color: white;
  margin: 10px;
  font-size: 22px;
  text-decoration: none;
  transition: transform 0.3s, box-shadow 0.3s;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.2);
}

.viewAllButton:hover {
  background-color: var(--accentColor2);
  transform: scale(1.1);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  transition: 0.5s;
}

.sectionContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px 0px;
}

.sectionTitle {
  width: fit-content;
  background-color: var(--accentColor);
  padding: 5px;
  border-radius: 5px;
  font-size: 22px;
  font-style: italic;
  color: white;
}