.mainContainer {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  height: 250px;
  margin-bottom: 30px;
}

.image {
  height: 250px;
  border-radius: 40px;
  margin-bottom: 30px;
}

@media screen and (max-width: 780px){
  .mainContainer {
    height: 105px;
    margin-top: 30px;
  }
  .image {
    height: 90px;
    border-radius: 20px;
  }
}